.tm-social {
    width: 40px;
    height: 40px;
    margin: 100px;
    
   
}
.tama{
    width: 400px;
    height: 350px;
    
}
.tama2{
    width: 500px;
    height: 350px;
    
}
.tama3{
    width: 600px;
    height: 750px;
}

.tama4{
    width: 400px;
    height: 450px;
}